In [1]:
age = 17
print("My age is ", age)

My age is  17

In [2]:
print(f"My age is: {age}")
## f is for formating,if consider varaible

My age is: 17

In [3]:
## format()
name="Akshat"
age=17
print("My name is {} and age is {}".format(name,age))

My name is Akshat and age is 17

In [4]:
##placeholder
print("My name is {firstname} and age is {ages}".format(firstname=name,ages=age))

My name is Akshat and age is 17

In [5]:
name="Akshat Srivastava"
age=19
degree="B.Tech"
print("my name is {} and i have completed my degree of {} with the name of {}".format(age,degree,name))

my name is 19 and i have completed my degree of B.Tech with the name of Akshat Srivastava

## Control Flow
### Decision Making statements

In [6]:
### if Statements
age=19
if age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [7]:
### if Statements
age=17
if age>=18:
    print("You are eligible to vote")

# Taking Input

In [8]:
input()

 akshat

'akshat'

In [9]:
name=input()

 akshat

In [10]:
name=input("Enter the name")

Enter the name akshat

In [11]:
name

'akshat'

In [12]:
age=int(input("Enter the age"))

Enter the age 56

In [13]:
type(age)

int

# Task

In [14]:
## Take a input of age
## check whether age>=18 and age<=45
## display a message you are young blood
age=int(input("Enter the age :"))
if age>=18 and age<=45:
    print("You are Young Blood")

Enter the age : 454

In [15]:
## if else statement
age=int(input("Enter the age :"))
if age>=18 and age<=45:
    print("You are Young Blood")
else:
     print("Thank you , We will let you know")

Enter the age : 23

You are Young Blood

# Task 2

In [16]:
## mall - input the product price
## product > 1000 rs  20% off
## print the product price
## product <=1000rs 30% off
## print the product price
price=int(input("Enter the price of product:"))
if price>1000:
          fprice= price-(0.20*price)
          print("Your final price is :",fprice)
else:
          fprice= price-(0.30*price)
          print("Your final price is :",fprice)

Enter the price of product: 2334

Your final price is : 1867.2

# task 3

In [17]:
## mall - input the product price
## product > 3000 rs  20% off
## print the product price
## product >=2000rs and <=3000 30% off
## print the product price
## product >=1000rs and <=2000 40% off
price=int(input("Enter the price of product:"))
if price>3000:
          fprice= price-(0.20*price)
          print("Your final price is :",fprice)
elif price<=3000 and price>2000:
          fprice= price-(0.30*price)
          print("Your final price is :",fprice)
elif price<=2000 and price>1000:
         fprice= price-(0.40*price)
         print("Your final price is :",fprice)
else:
        fprice= price-(0.50*price)
        print("Your final price is :",fprice)

Enter the price of product: 231

Your final price is : 115.5

In [18]:
## single Statement
val=int(input("Enter the number:"))
if(val<=999):print("value is less than equal to 999")
else:
    print("go home")

Enter the number: 1134

go home

# LOOPS Statements
 1. While loop
 2. for loop
 3. nested loops
 4. loop control (break,continue,pass)

In [19]:
# while loop
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [20]:
print("Akshat")

Akshat

In [21]:
### Atm Machine with 1000 rs
total_amount=1000
while total_amount!=0:
    total_amount=total_amount-100
else:
    print("Put more money bank people")

Put more money bank people

# For Loop

In [24]:
st =["Akshat",1,2,3,4,"apple","banana"]

In [25]:
type(st)

list

In [ ]:
fruits_list=["mango","Cherry","Apple","Papaya","Banana"]

In [28]:
fruits_list=["mango","Cherry","Apple","Papaya","Banana"]
for x in fruits_list:
    print(x)

mango
Cherry
Apple
Papaya
Banana

In [27]:
### Nested loops
n=7
for i in range(0,n):
    for j in range(0, i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

# Assignment

In [31]:
# print equilateral triangle of *
n=int(input("Enter the no. of rows in triangle:"))
m=(2*n)-2
for i in range(0,n):
    for j in range(0,m):
        print(end=" ")
    m=m-1
    for j in range(0,i+1):
        print("*",end=" ")
    print()

Enter the no. of rows in triangle: 17

                                *
                               * *
                              * * *
                             * * * *
                            * * * * *
                           * * * * * *
                          * * * * * * *
                         * * * * * * * *
                        * * * * * * * * *
                       * * * * * * * * * *
                      * * * * * * * * * * *
                     * * * * * * * * * * * *
                    * * * * * * * * * * * * *
                   * * * * * * * * * * * * * *
                  * * * * * * * * * * * * * * *
                 * * * * * * * * * * * * * * * *
                * * * * * * * * * * * * * * * * *

In [ ]:
##loop controls 
## Break And Continue